@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var brandImage1 = Model?.Value<IPublishedContent>("brandImage1")?.Url() ?? "";
    var brandImage2 = Model?.Value<IPublishedContent>("brandImage2")?.Url() ?? "";
    var brandImage3 = Model?.Value<IPublishedContent>("brandImage3")?.Url() ?? "";
    var brandImage4 = Model?.Value<IPublishedContent>("brandImage4")?.Url() ?? "";
    var brandImage5 = Model?.Value<IPublishedContent>("brandImage5")?.Url() ?? "";
    var brandImage6 = Model?.Value<IPublishedContent>("brandImage6")?.Url() ?? "";
}
<div class="contact-section">
    <div class="contact-map">
        @Model?.Value("contactMap")
    </div>
    <div class="contact-content">
        <div class="contact-form-item">
            <div class="contact-form-heading">
                <span>Request a call back</span>
                <div class="contact-form-title">
                    Let us know about your next project
                </div>
                <p class="contact-form-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus
                </p>
            </div>
            <form class="contact-form" action="#" method="post">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email address">
                <input type="tel" placeholder="Phone">
                <select name="options" id="contact-form-select" aria-label="Choose an option">
                    <option value="1">Financial consulting</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                </select>
                <div class="contact-form-btn">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
        <!-- partners -->
        <div class="partners">
            <div class="partners-container">
                <div class="partners-images">
                    <img src="@brandImage1" alt="">
                    <img src="@brandImage2" alt="">
                    <img src="@brandImage3" alt="">
                    <img src="@brandImage4" alt="">
                    <img src="@brandImage5" alt="">
                    <img src="@brandImage6" alt="">
                </div>
                <div class="partners-images">
                    <img src="@brandImage1" alt="">
                    <img src="@brandImage2" alt="">
                    <img src="@brandImage3" alt="">
                    <img src="@brandImage4" alt="">
                    <img src="@brandImage5" alt="">
                    <img src="@brandImage6" alt="">
                </div>
            </div>
        </div>
        <!-- end partners -->
    </div>
</div>