@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	var itemImage = Model?.Value<IPublishedContent>("projectItemImage")?.Url() ?? "";
    var itemImage2 = Model?.Value<IPublishedContent>("projectItemImage2")?.Url() ?? "";
	var itemImage3 = Model?.Value<IPublishedContent>("projectItemImage3")?.Url() ?? "";

	var selection = Umbraco.Content(Guid.Parse("8c0c38c8-8671-41ac-a3dc-b6c648e3d842"))
    .ChildrenOfType("projectItemPage")
    .Where(x => x.IsVisible());

}

<div class="project-details-section">
	<div class="project-details-container">
		<div class="project-details-content">
			<div class="project-details-item">
				<div class="project-details-item-content">
					<div class="project-details-item-date">
						<i class="fa-regular fa-calendar-days"></i>
						@Model?.Value("projectItemDate")
					</div>
					<div class="project-details-item-sub-title">@Model?.Value("projectItemSubTitle1")</div>
					<img src="@itemImage" alt="">
					<div class="project-details-item-title">
						@Model?.Value("projectItemSubTitle2")
					</div>
					<div class="project-details-item-list">
						<ul>
							<li>@Model?.Value("projectItemText1")</li>
							<li>@Model?.Value("projectItemText2")</li>
							<li>@Model?.Value("projectItemText3")</li>
						</ul>
					</div>
					<div class="project-details-sub-item">
						<img class="project-details-item-img" src="@itemImage2" alt="">
						<div class="project-details-item-content">
							<div class="project-details-item-title">
								@Model?.Value("projectItemSubTitle3")                                
							</div>
							<p class="project-details-item-text">
								U@Model?.Value("projectItemText4")
							</p>
							<p class="project-details-item-text">
								@Model?.Value("projectItemText5")
							</p>
						</div>
					</div>
					<div class="project-details-item-title">
						@Model?.Value("projectItemSubTitle4")
					</div>
					<p class="project-details-item-text">
						@Model?.Value("projectItemText6")
					</p>
					<p class="project-details-item-text">
						@Model?.Value("projectItemText7")
					</p>
					<p class="project-details-item-text">
						@Model?.Value("projectItemText8")
					</p>
					<img src="@itemImage3" alt="">
					<div class="project-details-item-title">
						@Model?.Value("projectItemSubTitle5")
					</div>
					<p class="project-details-item-text">
						@Model?.Value("projectItemText9")
					</p>
					<p class="project-details-item-text">
						@Model?.Value("projectItemText10")
					</p>

					<div class="project-details-tags-items">
						<div class="project-details-tags-title">Tags:</div>
						<span class="project-details-tags-item">Business</span>
						<span class="project-details-tags-item">Consulting</span>
						<span class="project-details-tags-item">Onarix</span>
					</div>
				</div>
			</div>
			<div class="recent-projects">
				<div class="recent-details-title">Recent projects</div>
				<div class="project-details-items">
					<div class="recent-details-item">
						@foreach (var item in selection)
						{
							var image = item?.Value<IPublishedContent>("projectItemImage")?.Url() ?? "";
							var date = item?.Value<string>("projectItemDate") ?? "";
							<a href="@item.Url()">
								<img class="project-details-item-img" src="@image" alt="">
								<div class="recent-details-item-content">
									<div class="project-details-item-title">
										@item.Name()
									</div>
									<div class="project-details-item-date">
										<i class="fa-regular fa-calendar-days"></i>
										@date
									</div>
								</div>
							</a>
						}
					</div>
				</div>
				<div class="projects-tags">
					<div class="porijects-tags-title">Tags</div>
					<div class="porijects-tags-items">
						<span class="porijects-tags-item">Report</span>
						<span class="porijects-tags-item">Business plans</span>
						<span class="porijects-tags-item">Insights</span>
						<span class="porijects-tags-item">Business</span>
						<span class="porijects-tags-item">App</span>
						<span class="porijects-tags-item">Project</span>
						<span class="porijects-tags-item">Finance</span>
						<span class="porijects-tags-item">Pricing</span>
					</div>
					<div class="help-item">
						<div class="help-title">How can we help you?</div>
						<div class="help-text">online support 24/7, we are here to help you</div>
						<form action="#" method="post" class="help-form">
							<label for="">
								<input type="email" name="s" placeholder="E-mail address">
							</label>
							<button type="submit" class="help-email">
								<i class="fa-solid fa-envelope"></i>
							</button>
						</form>
						<img src="/images/Mail.svg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>